<header id="main-header">
    <div id="logo"><a href="/index">Resto-HUB</a></div>
    <nav>
      <ul>
        <li class="nav-item"><a href="/restaurants">Visit Restaurants</a></li>
        <li class="nav-item"><a href="/blogs">Blogs</a></li>
        <li class="nav-item"><a href="/about">About </a></li>
      </ul>
    </nav>
    
    <button id="drawer-btn">
      <span></span>
      <span></span>
      <span></span>
    </button>


  </header>



  <aside id="mobile-drawer">
    <nav>
      <ul>
        <li class="nav-item"><a href="/restaurants">Visits Restaurants</a></li>
        <li class="nav-item"><a href="/blogs">Blogs</a></li>
        <li class="nav-item"><a href="/about">About </a></li>
      </ul>
    </nav>

    
  </aside>