<li class="restaurant-item">
    <article>
      <h2><%=resta.name%></h2>
      <div class="restaurant-meta">
        <p><%=resta.cuisine%></p>
      </div>
      <div class="restaurant-actions">
        <a href="restaurants/<%=resta._id%>">View</a>
      </div>
    </article>
      <article class="img">
        <img src="<%=resta.imagePath %>" alt="The image of the user." width="5rem" height="5rem">
      </article>
    
  </li>