<%-include('includes/head') %>
<%- include('includes/header',{}) %>

<main>
  <div style="text-align: left; margin-top: 3rem; padding: 1rem;">

    <p>Rest-HUB was created with the goal of connecting food lovers with the best local restaurants in our area. We noticed that there was a need for a centralized platform where restaurant owners could showcase their establishments and share information about their menu offerings with potential customers. Additionally, we wanted to create a space where foodies could discover new dining experiences and connect with like-minded individuals who share their passion for delicious cuisine.
    </p>
    
    <p>
      We also understand the importance of community and creating a space where foodies can connect with each other. Our platform allows visitors to browse restaurants and read posts, as well as engage.
    </p>
  </div>
  </main>
<%-include('includes/footer') %>
</body>
</html>
