<%-include('includes/head') %>
    <link rel="stylesheet" href="styles/index.css" />
    <%- include('includes/header') %>


    <main>
      <h1>Discover the best for your next meal </h1>
      <p>
        Join our community of food enthusiasts and discover the best restaurants in town! 
      </p>
      <ul id="actions">
        <li>
          <a  class="card-hover" href="restaurants">Browse Shared Restaurants</a>
        </li>
        <li>
          <a class="card-hover" href="blogs">Get Latest Blogs about Restaurants</a>
        </li>
      </ul>
    </main>
    <%-include('includes/footer') %>
  </body>
</html>
